@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&family=Poppins:wght@100;400;700&family=Syne+Mono&display=swap');

body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	background-color: #0f0e17;
	grid-template-rows: 80px 40px 5fr 0.2fr;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"topnav topnav"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	background-color:#0f0e17;
	color: white;
	font-family: 'Syne Mono', monospace;
	font-size: 2em;
	font-weight: bolder;
	padding: 5px;
	padding-left: 20px;
}

.headertext{
	padding: 10px 0;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	border-color: #F2F5F1;
	border-width: 10px;
	font-family: "Poppins";
	padding-top: 15px;
	padding-left:20px;
	padding-right: 20px;
	background-color: #0f0e17;
	overflow: auto;
	font-size: small;
}

.sidebar-item{
	padding: 8px;
	background:#094067;
	color: white;
	font: "Poppins";
	font-weight: 700;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.sidebar-item:hover {
	background: #90b4ce;
	color: white;
	font-size: 105%;
	transition: all 0.5s ease-in-out;
}

.reset-item{
	padding: 8px;
	margin: 5px;
	cursor: pointer;
}

.reset-item:hover {
	font-size: 105%;
	font-weight: 700;
	transition: all 0.5s ease-in-out;
}

.sidebar-box {
	color: #fffffe;
	text-align: center;
    background-color: #121629;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	font-family: "Poppins";
	padding: 10px;
	color: white;
	background-color: rgb(22, 22, 22);
}

/* Add a black background color to the top navigation */
.topnav {
	grid-area: topnav;
	background-color: #094067;
	overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	font-family: "Montserrat";
	padding: 10px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: all 0.5s ease-in-out;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
	font-size:105%;
	vertical-align: middle;
	padding: 10px 16px;
}

/* Add a color to the active/current link */
.topnav a:active {
	background-color: #04AA6D;
	color: white;
	font-weight: bold;
}

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 10px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.slidebuttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	background: black;
  }
  
  /* Slides */
  .mySlides {
	display: none;
	padding: 10px;
	text-align: left;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: relative;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #cecece;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px 5px 5px 5px;
	user-select: none;
	margin: auto;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: #555;
	color: white;
  }
